html 
{
    height: 100%;
}

body 
{
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
}

.navbar_shadow
{
    box-shadow: 0px 3px 6px #888888;
}

.logo
{
    position:relative;
    top:10px;
}

.navbar-brand
{
    margin:0px;
    font-weight:bold;
    font-size:1.7rem;
}

.canvas_container
{
    position: relative;
    font-size: 1.1rem;
}

.canvas_decor
{
    color:#c2c2c2;
    width:100%;
    /* height:48vh; */
    height:52vh;
    border-top:1px solid rgb(160, 158, 158);
    border-left:1px solid  rgb(160, 158, 158);
    border-right:1px solid  rgb(160, 158, 158);
    border-bottom:1px solid rgb(160, 158, 158);
    box-shadow:0px 5px 10px 5px #bdbdbd;
    background-color: black;
    /* background-color:#fbfbfb; */
}

.canvas_light
{
    background-color:#ececec!important;
}

#canvas_btn
{
    position: absolute;
    left:15px;
    bottom:-10px;
    color:black;
}

#play_btn
{
    color:#8E8E93;
    background-color: transparent;
    border:none;
}

#play_btn:focus
{
    outline:none;
    border:none;
}

#regenerate_btn
{
    color:#8E8E93;
    background-color: transparent;
    border:none;
    padding:10px 10px;
    position: relative;
    bottom:16px;
}

#regenerate_btn:focus
{
    outline:none;
    border:none;
}

#fforward_btn
{
    color:#8E8E93;
    background-color: transparent;
    border:none;
    padding:10px 10px;
    position: relative;
    bottom:16px;
}

#fforward_btn:focus
{
    outline:none;
    border:none;
}

#bubble_des,#selection_des,#quick_des,#insertion_des,#merge_des
{
    display:none;
}

.other_btn_active
{
    color:#20252b !important; 
}

.play_btn_active
{
    color:#df7196 !important;
}

.btn_div
{
    width:100% !important;
}

.btn_menu
{
    width:55% !important;
    margin:auto !important;
}

.drop_menu
{
    width:55%;
}

.slider
{
    width:100%;
}

footer 
{
    position: absolute;
    bottom: 0;
    width:100%;
    left: 0;
    padding: 5px;
    border-top:1px solid rgb(177, 177, 177);
    text-align: center;
}

#refer_icon
{
    text-decoration: none;
    color:black !important;
}

#refer_icon:hover
{
    color:rgb(63, 0, 0) !important;
}

@media (min-width: 540px)
{
    .canvas_container 
    {
        max-width:97vw !important;
        width: 97vw !important;
    }
}

@media (min-width:992px) 
{
    .description
    {
        border-right: 1px solid black;
    }
}

@media (max-width: 1200px) 
{
    [class*="col-"] 
    {
        margin-bottom: 15px;
    }
    .canvas_decor
    {
        height:48vh;
    }
}

@media (max-width: 240px) 
{
  .btn
  {
      width:65% !important;
  }
  .logo
  {
      display:none !important;
  }
}

@media (hover: hover) and (pointer: fine) 
{
    .play_btn_active:hover
    {
        color:#e95184 !important;
    }
    .other_btn_active:hover
    {
        color:#df7196 !important;
    }
}